button {
    padding: 1rem 2rem;
    border-radius: 7px;
    appearance: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.primary {
    background: #00BCD4;
     color: white;
}
